@font-face {
    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf") format("TrueType");
}
@font-face{
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf") format("TrueType");
}
body{
    background-image: url(backgroundLocation.png);
    color: white;
    
}
.backG{
    background: linear-gradient(#6048e0, #40259e);
}
.admin{

    display: none;

}
.update{

    display: none;

}
.connexion{
    background-image: url(backgroundLocation.png);
    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf") format("TrueType");
    color: white;
}
.modelBody{

    text-align: center;
    
}
.inputCo{
    background-color: #392962;
    color: white;
    border: none;
}
.btn-close{
    
    opacity: 1;
}
.navi{

    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf") format("TrueType");
    font-size: 25px !important;
    color: white !important;
    
}
.title{

    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf") format("TrueType");
}

.navi:hover{

    color: #6048e0 !important;
}

.btnGradient{

    color: white;
    background: linear-gradient(#6048e0, #40259e);
}
.btnGradient:hover{

    color: #392962;
    background: linear-gradient(#6048e0, #40259e);

}
.reserv{

    display: none;

}

.foot{

    color: #392962 !important;
}

.footLink{

    text-decoration: none;
    color: white;
}
.footLink:hover{

    color: #392962 !important;
}

.fontText{

    font-family: Roboto-Light;
    src: url("../fonts/Roboto-Light.ttf") format("TrueType");
}